<a href="https://colab.research.google.com/github/Kavyadaggubati001/icp3/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
class Employee:
    employee_count = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.employee_count += 1

    def average_salary(employee_list):
        sal = sum(emp.salary for emp in employee_list) / len(employee_list) if employee_list else 0
        return sal

class FullTimeEmployee(Employee):
    def __init__(self, name, family, salary, department, work_hours):
        super().__init__(name, family, salary, department)
        self.work_hours = work_hours

employee1 = Employee("Harsha", "Family1", 60000, "HR")
employee2 = Employee("Abhi", "Family2", 70000, "Finance")
employee3 = Employee("Kavya", "Family3", 65000, "Marketing")
full_time_employee = FullTimeEmployee("Rahul", "Family4", 80000, "IT", 40)

employee_list = [employee1, employee2, employee3, full_time_employee]

average_salary = Employee.average_salary(employee_list)
print(f"Total Number of Employees are: {Employee.employee_count}")
print(f"The Average Salary is: {average_salary}")

Total Number of Employees are: 4
The Average Salary is: 68750.0

In [10]:
import numpy as np
x = np.arange(1,21,dtype=float)
print("Vector :",x)
x=x.reshape(4,5)
print("The reshaped array to 4 by 5 is:",x)
def replace(x):
    a=x
    a[:,np.argmax(x, axis=1)] = 0
    return a
result= replace(x)
print("The replaced array is:",result)

Vector : [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20.]
The reshaped array to 4 by 5 is: [[ 1.  2.  3.  4.  5.]
 [ 6.  7.  8.  9. 10.]
 [11. 12. 13. 14. 15.]
 [16. 17. 18. 19. 20.]]
The replaced array is: [[ 1.  2.  3.  4.  0.]
 [ 6.  7.  8.  9.  0.]
 [11. 12. 13. 14.  0.]
 [16. 17. 18. 19.  0.]]